<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true">
    <testsuites>
        <testsuite name="DirRotation Test Suite">
            <directory suffix="Test.php">./vendor/struam/dir-rotation/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>